.git
.github
.venv
.venv*
__pycache__
*.pyc
.pytest_cache
.mypy_cache
.ruff_cache
*.egg-info
dist
build
qasccs/secure_channel/certs/*.crt
qasccs/secure_channel/certs/*.key
*.log
tests
docs
*.pdf
photo.jpg
